# macOS spezifische Dateien
.DS_Store

# Logdateien und temporäre Dateien
npm-debug.log*
yarn-debug.log*

# Umgebungsvariablen
.env
.yml

# IDE- und Editor-Ordner
.idea/
.vscode/

# Abhängigkeiten und Build
**/node_modules/
/dist/